*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    color: deepskyblue;
}
header{
    width: 100%;
    height: 130vh;
    background-color: ghostwhite;
}
.logo{
    width: 100%;
    height: 15vh;
    background-color: #ffffff;
    display: flex;
    padding-top: 25px;
    padding-left: 70px;
}

.master{
    justify-content: space-evenly;
    display: flex;
    padding-left: 50px;

}
.master1{
 display: flex;
 justify-content: left;
 /* padding-right: 100px;  */
}

.div1{
    border: 1px solid gainsboro;
    width: 250px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    z-index: 10;
    /* justify-content: space-evenly; */
    
}
#div4{
    margin-left: 80px;
    margin-right: 30px;
}
.topic{
    border-bottom: 2px solid rgb(230, 228, 228);
    padding-bottom: 20px;
}
input{
    width: 20px;
    height: 20px;
}
.label{
    text-decoration: line-through;
    color: lightgray;
    padding: 10px;
    font-size: 20px;
}
.label1{
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}
.add{
    color: deepskyblue;
    float: right;
    height: 50px;
    margin-right: 200px;
    text-align: center;
    font-size: 20px;
}
#add{
    color: deepskyblue;
    float: right;
    height: 50px;
    margin-right: 482px;
    text-align: center;
    font-size: 20px;
}
#back{
    color: black;
}

span{
    color: black;
    text-decoration: double;
}
.b{
    margin-right: 80px;
}
.div1:hover{
    box-shadow: 10px 10px 8px 10px #888888;
}

a{
    text-decoration: none;
    color: deepskyblue;
}
#div1{
    width: 300px;
    height: 300px;
}